
footer{
    width: 100%;
    padding: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.logo__alura_footer{
    display: block;
    width: 100%;
    max-width: 102px;
    margin-bottom: 40px;
}

.menu__footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;

    margin-bottom: 24px;
}

.link__menu__footer{
    font-size: 1rem;
    line-height: 1.6rem;
}

.link__menu__footer:hover{
    color: var(--call-to-action);
}

.container__copywritter p{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.container__copywritter p:first-child{
    margin-bottom: 16px;
}

